
#divLoading {
    display: none;
}

#divLoading.show {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url('../images/load.gif');
    background-color: #666;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

#loadinggif.show {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 101;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}

.headerleft, .headercenter, .headerright {
    height: 25px;
    padding-top: 5px;
}
.tooltip_custom {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip_custom .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_custom .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_custom:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}